* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1080px) {
  html {
    font-size: 93.75%; // convertendo 1rem para 15px
  }
}

@media screen and (max-width: 720px) {
  html {
    font-size: 87.5%; // convertendo 1rem para 14px
  }
}

body {
  background: #f2f6fc;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
